{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter" %} {{ newsletter.title }} {{ action }}
  {% trans "activate" %}{% endblock title %}

{% block content %}
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-4">{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}</h2>
      </div>
    </div>
    <div class="row blog-entries">
      <div class="col-md-12 main-content mb-5">
        <p>{% trans "Your subscription has successfully been updated." %}</p>
      </div>
    </div>
  </div>
{% endblock content %}
