{% extends "newsletter/common.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Newsletter subscribe" %}{% endblock title %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-4">Confirm Subscription</h2>
    </div>
  </div>
  <div class="row blog-entries">
    <div class="col-md-12 main-content mb-5">
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <form enctype="multipart/form-data" method="post"
              action="{% url "newsletter_subscribe_confirm" newsletter.slug %}">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-group container-login100-form-btn">
            <button type="submit" class="login100-form-btn">{% trans "Subscribe" %}</button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
  </div>
{% endblock content %}
