<!-- START NAV -->
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <img src="../images/bulma.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active">
          Home
        </a>
        <a class="navbar-item" href="{% url 'contact.index' %}">
          Contact
        </a>
        <a class="navbar-item" href="{% url 'blog.index' %}">
          Blog
        </a>
        <a class="navbar-item" href="{% url 'contacts.index' %}">
          Contacts
        </a>
        <a class="navbar-item" href="{% url 'events.index' %}">
          Events
        </a>
        <a class="navbar-item" href="{% url 'resume.index' %}">
          Resume
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Account
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Dashboard
            </a>
            <a class="navbar-item">
              Profile
            </a>
            <a class="navbar-item">
              Settings
            </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              Logout
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- END NAV -->
