{% extends 'base.html' %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block header_extra %}
  <div class="header-intro theme-bg-primary text-white py-5">
    <div class="container">
      <h2 class="page-heading mb-3">{{ page.title }}</h2>
      <div class="page-heading-tagline">{{ page.subtitle }}
      </div>

    </div><!--//container-->
  </div><!--//header-intro-->
{% endblock %}
{% block content %}
  <section class="section pt-5">
    <div class="container">
      <div class="text-center">
        <ul id="filters" class="filters mb-5 mx-auto pl-0">
          <li class="type active" data-filter="*">All</li>
            {% for tag in page.get_child_tags %}
              <li class="type" data-filter=".{{ tag }}">{{ tag }}</li>
            {% endfor %}
        </ul><!--//filters-->
      </div>

      <div class="project-cards row mb-5 isotope">
          {% for project in projects %}
            <div class="isotope-item col-12 col-lg-4 {% for tag in project.get_tags %}{{ tag }} {% endfor %}">
              <div class="card rounded-0 border-0 shadow-sm mb-5">
                <div class="card-img-container position-relative">
                    {% image project.image fill-350x233 class="card-img-top rounded-0" %}
                    {% if project.logo %}
                      <div class="card-img-overlay overlay-logo text-center">
                        <div class="project-logo">
                            {% image project.logo max-320x200 class="img-fluid w-50" %}
                        </div>
                      </div>
                    {% endif %}
                  <a class="card-img-overlay overlay-content text-left p-lg-4" href="{{ project.url }}">
                    <p class="card-text">{{ project.summary }}</p>
                  </a>
                </div>
                <div class="card-body pb-0">
                  <h4 class="card-title text-truncate text-center mb-0"><a
                          href="{{ project.url }}">{{ project.title }}</a></h4>
                </div>

                <div class="card-footer border-0 text-center bg-white pb-4">
                  <ul class="list-inline mb-0 mx-auto">
                      {% for tag in project.get_tags %}
                        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">{{ tag }}</span>
                        </li>
                      {% endfor %}
                  </ul>
                </div>
              </div><!--//card-->
            </div><!--//isotope-item-->
          {% endfor %}
      </div><!--//row-->
    </div><!--//container-->
  </section><!--//section-->
{% endblock %}

{% block page_specific_js %}
    <!--Page Specific JS -->
  <script type="text/javascript" src="{% static 'theme/plugins/imagesloaded.pkgd.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'theme/plugins/isotope.pkgd.min.js' %}"></script>
{% endblock %}