{% extends 'base.html' %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block header_extra %}
  <div class="header-intro theme-bg-primary text-white py-5">
    <div class="container position-relative">
      <h2 class="page-heading mb-2">{{ page.title }}</h2>
      <div class="page-heading-tagline">{{ page.summary }}.</div>
    </div><!--//container-->
  </div><!--//header-intro-->
{% endblock %}
{% block content %}
  <section class="project-wrapper single-col-max-width py-5 px-4 mx-auto">
      {% if page.image %}
        <div class="section-row">
          <div class="mb-5">
              {% image page.image width-850 %}
          </div>
        </div>
      {% endif %}
      {{ page.body }}
  </section>
{% endblock %}

{% block page_specific_js %}
  <script type="text/javascript" src="{% static 'theme/plugins/highlight/highlight.pack.js' %} "></script>
{% endblock %}

{% block custom_page_js %}
  <script type="text/javascript" src="{% static 'theme/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'theme/js/code-highlight.js' %}"></script>
{% endblock %}