{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% block title_prefix %}Aquiles Carattino | {% endblock %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'feed' %}">
  <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
  <meta name="twitter:title" content="{{ self.title }}"/>
  <meta name="twitter:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
  <meta name="twitter:creator" content="@aquicarattino"/>
  <meta name="twitter:site" content="@aquicarattino">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicons/favicon.png' %}"/>

  <!-- Open Graph data -->
  <meta property="og:url" content="{{ self.url }}"/>
  <meta property="og:title" content="{{ self.title }}"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
  <meta property="og:site_name" content="Aquiles Carattino"/>
  {% block extra_head %}{% endblock %}

  <link rel="canonical" href="{{ self.url }}"/>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700|Inconsolata:400,700" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
  <script src="https://kit.fontawesome.com/e9735e96ff.js" crossorigin="anonymous"></script>
{#  <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">#}
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <!-- Theme Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {#  <link href="{% static 'css/froala_blocks.css' %}" rel="stylesheet">#}

  <link href="{% static 'css/project.css' %}" rel="stylesheet">
</head>

<body>
<div class="wrap">
  {% include 'includes/header.html' %}
  {% block content %}
  {% endblock %}
  {% include 'includes/footer.html' %}
</div>
{% block modal %}{% endblock modal %}

{% block javascript %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script src="{% static 'js/project.js' %}"></script>
  <script>var privalytics_id = "PL-AE7CFB";</script>
  <script async src="https://cdn.privalytics.io/privalytics.js"></script>
{% endblock javascript %}
</body>
</html>

