{% load humanize footer_tags menu_tags blog_tags %}
<!-- Begin Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row mb-5">
      {% get_footer_about %}
      <div class="col-md-6 ml-auto">
        <div class="row">
          <div class="col-md-7">
            <h3>Latest Posts</h3>
            <div class="post-entry-sidebar">
              <ul>
                {% get_latest_posts as posts %}
                {% for post in posts %}
                  <li>
                    <a href="{{ post.url }}">
                      <img src="{{ post.square_header }}" alt="Image placeholder" class="mr-4">
                      <div class="text">
                        <h4>{{ post.title }}</h4>
                        <div class="post-meta">
                          <span class="mr-2">{{ post.first_published_at|naturaltime }} </span> &bullet;
                          {% for tag in post.get_tags %}
                            <span class="mr-2">{{ tag }}</span> &bullet;
                          {% endfor %}
                        </div>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-4">

            <div class="mb-5">
              {% get_menu "quick_links" as quick_links %}
              {% if quick_links %}
                <h3>Quick Links</h3>
                <ul class="list-unstyled">
                  {% for item in quick_links.menu_items.all %}
                    <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% get_footer %}
  </div>
</footer>
<!-- END footer -->
