{% extends 'base.html' %}
{% load static wagtailimages_tags wagtailcore_tags comments %}

{% block header_extra %}
  <div class="header-intro theme-bg-primary text-white py-5">
    <div class="container position-relative">
      <div class="media flex-column flex-md-row">
          {% if page.image %}
              {% image page.image fill-160x160 class="profile-medium d-inline-block rounded-circle mr-md-4 align-self-center mb-2 mb-lg-0" %}
          {% endif %}
        <div class="media-body align-self-center">
          <h2 class="page-heading mb-2">{{ page.title }}</h2>
          <div class="page-heading-tagline mb-3">{{ page.subtitle }}</div>
        </div>
      </div>
    </div><!--//container-->
  </div><!--//header-intro-->
{% endblock %}

{% block content %}
  <section class="section pt-5">
    <div class="container blog-cards">
      <div class="row">
          {% for post in posts %}
            {% get_comment_count for post as comment_count %}
            <div class="col-12 col-md-6 col-lg-4 mb-5">
              <div class="card rounded-0 border-0 shadow-sm eq-height">
                <div class="card-img-container position-relative">
                    {% if post.image %}
                        {% image post.image fill-350x140 %}
                    {% endif %}
                  <div class="card-img-overlay overlay-mask text-center p-0">
                    <div class="overlay-mask-content text-center w-100 position-absolute">
                      <a class="btn btn-primary" href="{{ post.url }}">Read more</a>
                    </div>
                    <a class="overlay-mask-link position-absolute w-100 h-100" href="{{ post.url }}"></a>
                  </div>
                </div>
                <div class="card-body pb-4">

                  <h4 class="card-title mb-2"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                  <div class="card-text">

                    <div class="excerpt">{{ post.introduction }}
                    </div>
                  </div>

                </div>
                <div class="card-footer border-0">
                  <ul class="meta list-inline mb-0">
                    <li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ post.date_published|date }}
                    </li>
                    <li class="list-inline-item"><i class="fas fa-comment mr-2"></i>
                      <a href="#">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
                    </li>
                  </ul>
                </div>
              </div><!--//card-->
            </div>
          {% endfor %}
      </div>
    </div><!--//container-->
  </section><!--//section-->
{% endblock %}