{% extends 'base.html' %}
{% load person_tags %}
{% load static wagtailimages_tags wagtailcore_tags navigation_tags %}

{% block extra_head_css %}
  <link rel="stylesheet" href="{% static 'theme/plugins/highlight/styles/atom-one-dark.css' %}">
{% endblock %}

{% block header_extra %}
  <div class="header-intro theme-bg-primary text-white py-5">
    <div class="container text-center">

      <h2 class="page-heading mb-1">{{ page.title }}</h2>
      <div class="page-heading-tagline mx-auto mb-3">{{ page.subtitle }}</div>
      <ul class="page-heading-post-meta list-inline mb-0">
        <li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ page.date_published }}</li>
          {#        <li class="list-inline-item"><i class="fas fa-comment mr-2"></i><a href="#comments-block">8 Comments</a></li>#}
      </ul>
    </div><!--//container-->
  </div><!--//header-intro-->
{% endblock %}

{% block content %}
  <section class="single-post-wrapper single-col-max-width py-5 px-4 mx-auto">
    <div class="section-row">
        {% if page.image %}
          <div class="cover-image mb-4">
              {% image page.image width-812 class="img-fluid" %}
          </div>
        {% endif %}
        {{ page.body }}

      <nav class="post-nav d-flex justify-content-between">
        {% if page.prev_sibling %}
        <div class="nav-previous"><a href="{{ page.prev_sibling.url }}" rel="prev"><i class="fas fa-long-arrow-alt-left mr-1"></i>Previous <span
                class="d-none d-md-inline">Post</span></a></div>
        {% endif %}
      {% if page.next_sibling %}
        <div class="nav-next"><a href="{{ page.next_sibling.url }}" rel="next">Next <span class="d-none d-md-inline">Post</span><i
                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
      {% endif %}
      </nav>

      {% for author in page.authors %}
        {% render_author author %}
    {% endfor %}
    </div>
  </section><!--//single-post-wrapper-->

{% endblock %}
{% block page_specific_js %}
  <script type="text/javascript" src="{% static 'theme/plugins/highlight/highlight.pack.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'theme/plugins/jquery-social-share-bar/js/jquery-social-share-bar.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
  <script type="text/javascript" src="{% static 'theme/js/code-highlight.js' %}"></script>
  <script type="text/javascript" src="{% static 'theme/js/social-share-bar.js' %}"></script>
{% endblock %}