{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block header_extra %}
  <div class="header-intro theme-bg-primary text-white py-5">
    <div class="container">
      <div class="profile-teaser media flex-column flex-md-row">
          {% image page.image fill-240x240 class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" %}

        <div class="media-body text-center text-md-left">
            {{ page.intro|richtext }}
        </div><!--//media-body-->
      </div><!--//profile-teaser-->

    </div><!--//container-->
  </div><!--//header-intro-->

  {% if page.featured_section %}
  <section class="section-featured-projects py-5">
    <div class="container">
      <h3 class="section-title font-weight-bold text-center mb-5">{{ page.featured_section_title }}</h3>

      <div class="project-cards row mb-5">
          {% for article in children_1 %}
            <div class="col-12 col-lg-4">
              <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
                <div class="card-img-container position-relative">
                    {% if article.specific.image %}
                        {% image article.specific.image width-350 class="card-img-top rounded-0" %}
                    {% endif %}
                  <a class="card-img-overlay overlay-content text-left p-lg-4" href="{{ article.url }}">
                    <h5 class="card-title font-weight-bold">{{ article.title }}</h5>
                    <p class="card-text">{{ article.specific.summary }}</p>
                  </a>
                </div>
                <div class="card-body pb-0">
                  <h4 class="card-title text-truncate text-center mb-0"><a
                          href="{{ article.url }}">{{ article.title }}</a></h4>
                </div>

                <div class="card-footer border-0 text-center bg-white pb-4">
                  <ul class="list-inline mb-0 mx-auto">
                      {% for tag in article.specific.get_tags %}
                        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">{{ tag }}</span></li>
                      {% endfor %}
                  </ul>
                </div>
              </div><!--//card-->
            </div>
          {% endfor %}
      </div><!--//row-->
      <div class="text-center">
        <a class="btn btn-primary" href="{{ page.featured_section.url }}">View all</a>
      </div>
    </div><!--///container-->

  </section>
  {% endif %}
  {% if page.featured_section_2 %}
  <section class="section-latest-blog py-5">
    <div class="container">
      <h3 class="section-title font-weight-bold text-center mb-5">{{ page.specific.featured_section_2_title }}</h3>

      <div class="blog-cards row">
        {% for article in children_2 %}
        <div class="col-12 col-lg-6">
          <div class="card rounded-0 border-0 shadow-sm mb-5">
            <div class="card-img-container position-relative">
              {% if article.specific.image %}
                {% image article.specific.image width-540 class="card-img-top rounded-0" %}
              {% endif %}
              <div class="card-img-overlay overlay-mask overlay-logo text-center p-0">
                <div class="overlay-mask-content text-center w-100 position-absolute">
                  <a class="btn btn-primary" href="{{ article.specific.url }}">Read more</a>
                </div>
                <a class="overlay-mask-link position-absolute w-100 h-100" href="{{ article.specific.url }}"></a>
              </div>
            </div>
            <div class="card-body pb-4">

              <h4 class="card-title text-truncate mb-2"><a href="{{ article.specific.url }}">{{ article.title }}</a>
              </h4>
              <div class="card-text">
                <ul class="meta list-inline mb-1">
                  <li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ article.specific.date_published }}</li>
{#                  <li class="list-inline-item"><i class="fas fa-comment mr-2"></i><a href="#">4 Comments</a></li>#}
                </ul>
                <div class="excerpt">{{ article.specific.summary }}
                </div>
              </div>
            </div>
          </div><!--//card-->
        </div>
        {% endfor %}
      </div><!--//blog-cards-->


    </div>

    <div class="text-center">
      <a class="btn btn-primary" href="{{ featured_section_2.url }}">View All</a>
    </div>


  </section>
  {% endif %}
{% endblock %}