{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block header_extra %}
  <div class="header-intro theme-bg-primary text-white py-5">
    <div class="container position-relative">
      <div class="media flex-column flex-md-row">
          {% if page.image %}
              {% image page.image fill-160x160 class="profile-medium d-inline-block rounded-circle mr-md-4 align-self-center mb-2 mb-lg-0" %}
          {% endif %}
        <div class="media-body align-self-center">
          <h2 class="page-heading mb-2">{{ page.title }}</h2>
          <div class="page-heading-tagline mb-3">{{ page.subtitle }}</div>
        </div>
      </div>
    </div><!--//container-->
  </div><!--//header-intro-->
{% endblock %}

{% block content %}
  <section class="section pt-5">
    <div class="container form-page-thanks">
      <div class="row">
        <div class="col-md-7">
            {{ page.thank_you_text|richtext }}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}