{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags widget_tweaks %}

{% block header_extra %}
  <div class="header-intro theme-bg-primary text-white py-5">
    <div class="container position-relative">
      <div class="media flex-column flex-md-row">
          {% if page.image %}
              {% image page.image fill-160x160 class="profile-medium d-inline-block rounded-circle mr-md-4 align-self-center mb-2 mb-lg-0" %}
          {% endif %}
        <div class="media-body align-self-center">
          <h2 class="page-heading mb-2">{{ page.title }}</h2>
          <div class="page-heading-tagline mb-3">{{ page.subtitle }}</div>
        </div>
      </div>
    </div><!--//container-->
  </div><!--//header-intro-->
{% endblock %}

{% block content %}

  <section class="section py-5">
    <div class="container">
      <div class="row">
        <div class="contact-intro col-lg-8 mx-lg-auto mb-5 text-center">
            {% if page.image %}
                {% image page.image fill-80x80 class="profile-small d-inline-block mx-auto rounded-circle mb-3" %}
            {% endif %}
            {% if page.intro %}
              <p class="intro">{{ page.intro|richtext }}</p>
            {% endif %}
            {% if page.body %}
              <div class="speech-bubble bg-white p-4 p-lg-5 shadow-sm">
                  {{ page.body }}
              </div>
            {% endif %}
        </div>
        <form action="{% pageurl page %}" method="POST" id="contact-form" class="contact-form col-lg-8 mx-lg-auto">
          <h3 class="text-center mb-3">Get In Touch</h3>
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            {% for field in form.visible_fields %}
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label class="sr-only" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field  class="form-control" placeholder=field.help_text %}
                </div>
              </div>
            {% endfor %}

          <div class="form-group col-12">
            <button type="submit" class="btn btn-block btn-primary py-2">Send It</button>
          </div>
        </form>
      </div>
  </section>
{% endblock content %}
