{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block header_extra %}
  <div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
    <div class="container position-relative">
      <h2 class="page-heading mb-3">{{ page.title }}</h2>
        {% if page.pdf_link %}
          <a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto"
             href="{{ page.pdf_link.url }}"
             target="_blank"><i class="fas fa-download mr-2"></i>Download PDF Version</a>
        {% endif %}
    </div><!--//container-->
  </div><!--//header-intro-->
{% endblock %}
{% block content %}
  <article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
      <header class="resume-header pt-4 pt-md-0">
        <div class="media flex-column flex-md-row">
            {% if page.profile_image %}
                {% image page.profile_image fill-220x220 class="mr-3 img-fluid picture mx-auto" %}
            {% endif %}
          <div class="primary-info">
              {{ page.header_text|richtext }}
          </div>
          <div class="secondary-info ml-md-auto mt-2">
              {{ page.social_profiles }}
          </div>
        </div>
      </header>
    </div>
  </article>
{% endblock %}