{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block header_extra %}
  <div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
    <div class="container position-relative">
      <h2 class="page-heading mb-3">{{ page.title }}</h2>
        {% if page.pdf_link %}
          <a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto"
             href="{{ page.pdf_link.url }}"
             target="_blank"><i class="fas fa-download mr-2"></i>Download PDF Version</a>
        {% endif %}
    </div><!--//container-->
  </div><!--//header-intro-->
{% endblock %}

{% block content %}
  <article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
      <header class="resume-header pt-4 pt-md-0">
        <div class="media flex-column flex-md-row">
            {% if page.profile_image %}
                {% image page.profile_image fill-220x220 class="mr-3 img-fluid picture mx-auto" %}
            {% endif %}
          <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
            <div class="primary-info">
              <div class="primary-info">
                <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{ page.name }}</h1>
                <div class="title mb-3">{{ page.subtitle }}</div>
                <ul class="list-unstyled">
                    {% if page.email %}
                      <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2"
                                                      data-fa-transform="grow-3"></i>{{ page.email }}</a>
                      </li>
                    {% endif %}
                    {% if page.phone %}
                      <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2"
                                         data-fa-transform="grow-6"></i>{{ page.phone }}</a></li>
                    {% endif %}
                </ul>
              </div><!--//primary-info-->
            </div>
            <div class="secondary-info ml-md-auto mt-2">
                {{ page.social_profiles }}
            </div>
          </div>
        </div>
      </header>
      <div class="resume-body p-5">
        <section class="resume-section summary-section mb-5">
          <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
          <div class="resume-section-content">
            <p class="mb-0">{{ page.career_summary|richtext }}</p>
          </div>
        </section><!--//summary-section-->
        <div class="row">
          <div class="col-lg-9">
            <section class="resume-section experience-section mb-5">
              <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
              <div class="resume-section-content">
                <div class="resume-timeline position-relative">
                    {% for block in page.work_experience %}
                        {{ block }}
                    {% endfor %}
                </div><!--//resume-timeline-->


              </div>
            </section><!--//experience-section-->
          </div>
          <div class="col-lg-3">
            <section class="resume-section skills-section mb-5">
              <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
              <div class="resume-section-content">
                  {% for skill in page.skills_tools %}
                      {{ skill }}
                  {% endfor %}
                  {% if page.other_skills %}
                    <div class="resume-skill-item">
                      <h4 class="resume-skills-cat font-weight-bold">Others</h4>
                        {% for skill in page.other_skills %}
                            {{ skill }}
                        {% endfor %}
                      <ul class="list-inline">
                      </ul>
                    </div><!--//resume-skill-item-->
                  {% endif %}
              </div><!--resume-section-content-->
            </section><!--//skills-section-->
            <section class="resume-section education-section mb-5">
              <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
              <div class="resume-section-content">
                <ul class="list-unstyled">
                    {% if page.education %}
                        {% for education in page.education %}
                            {{ education }}
                        {% endfor %}
                    {% endif %}
                </ul>
              </div>
            </section><!--//education-section-->
              {% if page.miscelaneous %}
                  {{ page.miscelaneous }}
              {% endif %}
              {% if page.languages %}
                  {{ page.languages }}
              {% endif %}
            <section class="resume-section interests-section mb-5">
              <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
              <div class="resume-section-content">
                <ul class="list-unstyled">
                  <li class="mb-1">Climbing</li>
                  <li class="mb-1">Snowboarding</li>
                  <li class="mb-1">Cooking</li>
                </ul>
              </div>
            </section><!--//interests-section-->

          </div>
        </div><!--//row-->
      </div><!--//resume-body-->
    </div>
  </article>
{% endblock %}