{% load wagtailimages_tags wagtailcore_tags navigation_tags %}

<div class="top-bar theme-bg-primary-darken">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark position-relative">
      <ul class="social-list list-inline mb-0">
          {% if settings.base.SocialMediaSettings.twitter %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.twitter }}">
                <i class="fab fa-twitter fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.linkedin %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.linkedin }}">
                <i class="fab fa-linkedin-in fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.github %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.github }}">
                <i class="fab fa-github-alt fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.stackoverflow %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.stackoverflow }}">
                <i class="fab fa-stack-overflow fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.codepend %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.codepen }}">
                <i class="fab fa-codepen fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.indiehackers %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.indiehackers }}">
                <i class="fas fa-hat-cowboy fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.facebook %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.facebook }}">
                <i class="fab fa-facebook-f fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.instagram %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.instagram }}">
                <i class="fab fa-instagram fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.trip_advisor %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.trip_advisor }}">
                <i class="fab fa-tripadvisor fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.youtube %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.youtube }}">
                <i class="fab fa-youtube fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.vimeo %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.vimeo }}">
                <i class="fab fa-vimeo-v fa-fw"></i>
              </a>
            </li>
          {% endif %}
          {% if settings.base.SocialMediaSettings.orcid %}
            <li class="list-inline-item">
              <a class="text-white" href="{{ settings.base.SocialMediaSettings.orcid }}">
                <i class="fab fa-orcid fa-fw"></i>
              </a>
            </li>
          {% endif %}
      </ul><!--//social-list-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-uppercase" id="navigation">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item mr-lg-2"><a href="/" class="nav-link" role="menuitem">Home</a></li>
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
          <li class="nav-item mr-lg-2"><a href="{% url 'feed' %}" class="nav-link" role="menuitem"> <i
                  class="fas fa-rss-square"></i></a></li>
        </ul>
        <span id="slide-line"></span>
      </div>


    </nav>

  </div><!--//container-->

</div><!--//top-bar-->
