{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% include 'includes/head.html' %}
        {% block extra_head_css %}
        {% endblock %}
        {% block extra_head_js %}
        {% endblock %}
    {% endblock %}
</head>
<body>
<header class="header">
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock %}
    {% block header_extra %}
    {% endblock %}
</header><!--//header-->

{% block content %}
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
<!-- Javascript -->
<script type="text/javascript" src="{% static 'theme/plugins/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'theme/plugins/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'theme/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'theme/plugins/back-to-top.js' %}"></script>

{% block page_specific_js %}
{% endblock %}

<!-- Custom JS -->
<script type="text/javascript" src="{% static 'theme/js/main.js' %}"></script>
{% block custom_page_js %}
{% endblock %}
</body>
</html> 
